<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<div class="container">
    <a style="margin: 20px 0 0 1000px" type="button" href="/" class="btn btn-default btn-lg">返回主页</a>

<div class="page-header">
  <h1 style="margin-left: 40rem">搞笑段子集锦&nbsp;&nbsp;<small>给您的生活带来一笑</small></h1>
</div>
    <div class="row">
        <div class="col-md-10">
            <div style="margin-top: 20px">
                <form action="/duanzi" method="get" style="margin-left: 20rem">
                    <ol>
                        {% for v in range(res|length) %}
                            <li><h4>{{ res[v].content }}</h4></li>
                            <hr>
                        {% endfor %}
                    </ol>
                </form>
                    <ul class="pager" style="margin-left: 20rem">
                        <li><a href="#" style="color: black">上一页</a></li>
                        <li><a href="#" style="color: black">下一页</a></li>
                    </ul>

            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</html>