<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>


    <title>主页</title>
    <style type="text/css">
        body {
            background-color: #f7f7fb;
            overflow: visible;
        }


        #time {
            position: relative;
            margin: 0 0 0 700px;
            height: 80px;
        }

        #time canvas {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #view-paner {
            background: url("../static/images/4.jpg");
            background-repeat: repeat-x;
        }

        .carousel-inner {
            width: auto;
            height: 400px;
        }

    </style>
</head>
<body>

<div class="container-fluid ">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" role="presentation" href="#">天宇龙腾</a>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索你想要的···">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <div style="display: {{ hide }}">
                <div class="nav nav-pills navbar-right">
                    <a href="/login">
                        <button type="button" class="btn btn-default navbar-btn">登录</button>
                    </a>
                    <a href="/register">
                        <button type="button" class="btn btn-default navbar-btn">注册</button>
                    </a>
                </div>
            </div>
            <div style="display: {{ show }}">
                <div class="nav nav-pills navbar-right">
                    <p class="navbar-text">欢迎您{{ user }}!</p>
                    <button type="button" onclick="writearticle()" class="btn btn-default navbar-btn">写文章</button>

                    <button type="button" class="btn btn-default navbar-btn">浏览记录</button>

                    <button type="button" onclick="myblog()" class="btn btn-default navbar-btn">我的博文</button>

                    <button type="button" onclick="persioncenter()" class="btn btn-default navbar-btn">个人中心</button>

                    <button type="button" onclick="cancellation()" class="btn btn-default navbar-btn">退出登录</button>

                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../static/images/3.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="../static/images/5.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="../static/images/logo.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                ...
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">前一张</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">下一张</span>
            </a>
        </div>
    </div>
    <div id="time"></div>

    <div style="margin:5px 40px 5px 55px" class="row">
        <div style="padding: 5px 0 5px 0" class="col-md-3 col-md-offset-1">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">本期热文</a></li>
                <br/>
                <li role="presentation"><a href="/happybirthday">国庆特辑</a></li>
                <br/>
                <li role="presentation"><a href="/article">科技热点</a></li>
                <br/>
                <li role="presentation"><a href="/repelitimg">图片检索</a></li>
                <br/>
                <li role="presentation"><a href="/joke">笑看人生</a></li>
                <br/>
                <li role="presentation"><a href="/yulu">名言语录</a></li>
                <br/>
                <li role="presentation"><a href="duanzi">搞笑段子</a></li>
                <br/>
                <li role="presentation"><a href="/xiaozhishi">小知识</a></li>
                <br/>
                <li role="presentation"><a href="/xinqing">心情短语</a></li>
            </ul>
        </div>

        <div class="col-md-7">
            <div class="panel panel-info">
                {% for v in range(result|length) %}
                    <div style="margin-top: 10px">
                        <div class="panel-heading">
                            <a data-toggle="collapse"
                               href="#collapseExample-{{ v }}" aria-expanded="false"
                               aria-controls="collapseExample">
                                <h2 class="panel-title">
                                    {{ result[v].title }}
                                </h2>
                            </a>
                        </div>
                        <div class="collapse" id="collapseExample-{{ v }}">
                            <div class="well">
                                <div class="panel-body">
                                    {{ result[v].content }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="jumbotron" id="view-paner">
        <h1>欢迎{{ user }}来到本站!</h1>
        <h3>欢迎来到主页</h3>
        <a class="btn btn-primary btn-lg" href="https://blog.csdn.net/tylt6688" target="_blank"
           role="button">看到更多</a>

    </div>
</div>

</div>
<script src="../static/js/time.js"></script>

</body>
<script>
    function writearticle() {
        window.location.href = "/editor"
    }

    function cancellation() {
        window.location.href = "/cancellation"

    }

    function persioncenter() {
        window.location.href = "/persioncenter"

    }
    function myblog() {
        window.location.href = "https://blog.csdn.net/tylt6688"
    }
</script>
</html>