<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>主页</title>
    <style type="text/css">

        #view-paner {
            background: url("../static/images/1.jpg");
            background-repeat: repeat-x;

        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" role="presentation" href="#">天宇龙腾</a>


            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索你想要的···">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            <ul class="nav nav-pills navbar-right">
                <li role="presentation"><a href="/login" target="_blank">登录</a></li>
                <li role="presentation"><a href="/register" target="_blank">注册</a></li>
            </ul>
        </div>
    </nav>


    <div class="jumbotron" id="view-paner">
        <h1>欢迎您来到本站!</h1>
        <h3>欢迎来到主页</h3>
        <a class="btn btn-primary btn-lg" href="https://blog.csdn.net/tylt6688" target="_blank"
           role="button">看到更多</a>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-1">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">主页</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        关于电脑外设键盘的讲解
                    </h3>
                </div>
                <div class="panel-body">
                    属于最常用也是最主要的输入设备


键盘键数常见的一般分为 84键/101键/104键。其实还有83键/96键/107键等

 例如：107键就是为贴合日语输入法单独的增加了三个键，毕竟我们几乎用不到，这些键数的区别最常见的就是在数字键盘上面 ， 键数少的键盘大多数是没有小数字键盘的，其次就是功能键上面，有时会结合Fn键来进行组合键达到指定效果。


键盘按照接口来进行分类的话，就是PS2（圆头）与USB 还有就是无线（接收器或者蓝牙）。




按照工作原理以及轴体来分的话
1.机械键盘（Mechanical）采用类似金属接触式开关，工作原理是使触点导通或断开，具有工艺简单、噪音大、易维护、打字时节奏感强，长期使用手感不会改变等特点。每一个按键都有一个单独的轴体，也叫做机械轴。玩游戏的话最美妙的就是机械键盘的顿挫感了。




2.塑料薄膜式键盘（Membrane）键盘内部共分四层，实现了无机械磨损。其特点是低价格、低噪音和低成本，但是长期使用后由于材质问题会导致手感发生变化。但是因其的耐用性以及价格相对便宜仍然占领市场绝大部分的份额。它与机械键盘的区别就是触发的原理以及按压手感不同。机械键盘的触发单元是轴，薄膜键盘靠的就是薄膜了。




3．导电橡胶式键盘（Conductive Rubber）触点的结构是通过导电橡胶相连。键盘内部有一层凸起带电的导电橡胶，每个按键都对应一个凸起，按下时把下面的触点接通。这种类型键盘是市场由机械键盘向薄膜键盘的过渡产品，现在的市面上几乎很少见到。




4．无接点静电电容键盘（Capacitives）使用类似电容式开关的原理，通过按键时改变电极间的距离引起电容容量改变从而驱动编码器。特点是无磨损且密封性较好。相比之下电容键盘更加少见和昂贵了。键盘利用电容容量的变化来进行按键的开和关，无需物理接触点就可以实现敲击，所以手感十分轻巧，反应也灵敏，不会磨损、密封性很好。目前只有日本的Topre在做，只有RealForce和HHKB两个系列。
据说这个系列很适合码农，它的长寿命以及稳定快速，属于程序员的神器，也有一个外号叫做“键盘之皇”。



 

那么相对比于这些类别，对于各位想要追求好一点的键盘又不想花费过大的话就是机械键盘了。

那咱们就来说一下种类相对最复杂的机械键盘，说到机械键盘，就不得不提一个公司“Cherry”。




Cherry德语翻译为“樱桃”。 在输入外设领域。它是全球数一数二的专业键盘制造厂商。Cherry GmbH。成立于1953年，是一家德国公司。主要从事生产电脑周边键盘以及Switch（轴）。

Cherry是以机械键盘闻名天下，而其公司的机械轴分MX Switch和ML Switch。(还有一个MY Switch为薄膜式键盘类别)。

其中最著名的要属MX Switch。Cherry MX机械轴被公认为是最经典的机械键盘开关，其特殊的手感和黄金触点使其品质倍增，而MX系列机械轴应用在键盘上的主要有4种，大家通过拔键器拔掉键帽后观看里面轴体的颜色辨别，分别是青、茶、黑、红，白（现已停产），不同轴体之间的手感相差很大，但是整体可以满足不同用户的各种需求。即使现在市面上的机械键盘公司很多，但是大多数的参考标准都可以根据Cherry公司来对比，而且轴体颜色以及大部分参数都是根据其标准进行制造，毕竟人家也算是个鼻祖了。

说一下手感上的区别
在手感的上的区别主要在段落感、触发键程、压力克数三方面上最容易感觉到不同。

段落感是对键盘按键下按过程中发出的“Click”声作为评判标准。

触发键程是下压按键时触发开关所需的最小距离。

压力克数就是在按下按键时所需要的力度。

决定触发键程、压力克数这两个因素的不同是由机械轴内部结构的不同和弹簧来决定的。




青轴（Keyclick）：段落感最强、Click声音最大，机械感最强，是机械键盘的代表轴，需下压2.4mm才可触发，双层四次的段落感，打字节奏感十足，但是声音较大，比较吵，所以购买的小伙伴就要注意一下影响啦！有人将其比喻为Cherry的春天，爽快清脆的段落感如春天般舒畅。

黑轴（Linear Action）：段落感最不明显，声音最小，与青轴形成鲜明对比，直上直下，下压2.0mm即可触发。无段落感，有人将其比喻为Cherry的夏天，无论你想得到急速或舒缓的输入，黑轴都能自如应对，打字游戏都适合，但是由于触发键程短，压力克数较大，触发效率和回弹速度都是最快的，可以达到一触即发的效果，所以在游戏中有上佳的表现。但是它需要的按压力气很大，码字比较累，不适合用来做一些工作量比较的大的办公和编写程序敲代码。

茶轴（Alternate Action or Ergonamic）：比起青轴，段落感要弱很多，而对比黑轴，又不是直上直下的感觉，下压2mm即可触发，单层二次的段落感，属于比较奢侈的机械轴。有人将其比喻为Cherry的秋天，结合了青轴与黑轴的特点，很容易被大众所接受，茶轴的颜色与秋天的收获的色彩更为接近。

红轴（red switch）:段落感不明显，与黑轴相似。但压力克数比黑轴小，起35，终60（黑轴起点为40）。 它的动作曲线和手感与黑轴类似，敲击时没有段落感，直上直下，触发键程也同为2.0mm，不过压力克数更小，只有30g，敲击时更加轻松，能很好兼顾游戏和打字的使用需求。特别适合工作量大的人群，码字不会很累，而且很适合女性体验机械键盘，感觉完全是如德芙巧克力一样众享丝滑。

白轴（SoftContact）：段落感比茶轴强，由于压力克数较大，所以按起来比较费力，需2.2mm可触发，如果指力较小，很容易疲劳。有人将其比喻为Cherry的冬天，不仅因为它是白色的轴，由于压力克数比黑轴大，所以有一种陷入雪中的段落感，难以描述 。但是此轴体已经停产，也就是说以后的市面上会很少见到它了。



以上就是简单的对机械键盘的总结概要，各位想要买键盘的小伙伴可以进行简单的参考，但是详细的手感还是要自己进行真实的对比，把你的爪爪放上去按一下试试，最后才会找到最适合自己的一款哦！
————————————————
版权声明：本文为CSDN博主「天宇龙腾」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/tylt6688/article/details/100054151
                </div>
            </div>


        </div>
    </div>

</div>
</body>
</html>