<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <title>主页</title>
    <style type="text/css">

        #view-paner {
            background: url("../static/images/1.jpg");
            background-repeat: repeat-x;

        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" role="presentation" href="#">天宇龙腾</a>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索你想要的···">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            <div class="nav nav-pills navbar-right">
                <a href="/login">
                    <button type="button" class="btn btn-default navbar-btn">登录</button>
                </a>
                <a href="/register">
                    <button type="button" class="btn btn-default navbar-btn">注册</button>
                </a>
            </div>
        </div>
    </nav>


    <div class="jumbotron" id="view-paner">
        <h1>欢迎您来到本站!</h1>
        <h3>欢迎来到主页</h3>
        <a class="btn btn-primary btn-lg" href="https://blog.csdn.net/tylt6688" target="_blank"
           role="button">看到更多</a>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-1">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">主页</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
                <li role="presentation"><a href="#">分类</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                {% for v in range(result|length) %}
                    <div>
                        <div class="panel-heading">
                            <a data-toggle="collapse"
                               href="#collapseExample-{{ v }}" aria-expanded="false"
                               aria-controls="collapseExample">
                                <h2 class="panel-title">
                                    {{ result[v].title }}
                                </h2>
                            </a>
                        </div>
                        <div class="collapse" id="collapseExample-{{ v }}">
                            <div class="well">
                                <div class="panel-body">
                                    {{ result[v].content }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>


        </div>
    </div>

</div>
</body>
</html>