<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <style type="text/css">
        .row {
            margin-top: 32px;
        }

        .message-check {
            color: #c9302c;
            margin-left: 660px;
        }
    </style>
    <title>注册</title>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <form class="form-inline" action="/register" method="POST">
            <div class="panel panel-primary">
                <div class="panel-heading">用户注册</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-5">
                            <label>用户名:&nbsp;&nbsp; </label> <input type="text" class="form-control" name="username"
                                                                    id="username" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5">
                            <label>密&nbsp;&nbsp;&nbsp;码: &nbsp;&nbsp;</label> <input type="password"
                                                                                     class="form-control"
                                                                                     name="password" id="password"
                                                                                     placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5">
                            <label>再次输入: </label> <input type="password" class="form-control" name="passwordc"
                                                         placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="row">
                        {% if message %}
                            <p class="message-check"> {{ message }}</p>
                        {% endif %}
                        <div class="col-md-offset-5">
                            <div class="checkbox">
                                <label> <input type="checkbox">已阅读并同意协议内容
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1">
                                    <button id="register" class="btn btn-success btn-lg">
                                        提交信息
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>

</script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</html>
