<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<div class="container">
        <a style="margin: 20px 0 0 70px"  type="button" href="/" class="btn btn-default btn-lg">返回主页</a>

    <div class="row" style="background-color:lavender">
        <div class="col-md-1"><img src="../static/images/A.png" style="width: 50px;margin-top: 30px">
        </div>
        <div class="col-md-4" id="hong"><img src="../static/images/Blog.png" style="width: 50px;margin-top: 0px"></div>
        <div class="col-md-3"><h1>小知识</h1></div>
        <div class="col-md-4" id="lianxi" style="margin-top: 30px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../static/images/phone.png" style="width: 30px">
                    </div>
                    <div class="col-md-4"><h4>12345775433</h4></div>
                    <div class="col-md-1">
                        <IMG src="../static/images/QQ.png" style="width: 30px">
                    </div>
                    <div class="col-md-4"><h4>24567344534</h4></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8" style="box-shadow: 3px 3px 6px;  font-size: 10px;background-color: #dfe0e4">
            <div style="margin-top: 20px">
                <form action="/xiaozhishi" method="get">
                    <ol>
                        {% for v in range(res|length) %}
                            <li><h4>{{ res[v].content }}</h4></li>
                            <hr>
                        {% endfor %}
                    </ol>
                </form>
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a href="#" style="color: black">上一页</a></li>
                        <li><a href="#" style="color: black">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-4">
            <p class="game" style="font-size: 50px;color:black;">游戏中心</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://cf.qq.com/"><img style="width: 330px;height: 70px"
                                                      src="../static/images/cf.png"></a>
                </li>
                <li class="list-group-item">
                    <a href="https://cf.qq.com/"><img style="width: 330px;height: 70px"
                                                      src="../static/images/lianmeng.png"></a>
                </li>

                <li class="list-group-item">
                    <a href="https://cf.qq.com/"><img style="width: 330px;height: 70px"
                                                      src="../static/images/fly.png"></a>
                </li>
                <li class="list-group-item">
                    <a href="https://cf.qq.com/"><img style="width: 330px;height: 70px"
                                                      src="../static/images/paopao.png"></a>
                </li>
            </ul>


            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="game" style="font-size: 50px;color: black;">独家赞助</p>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px" src="../static/images/boke.png"></a>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px" src="../static/images/daba.png"></a>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px"
                                              src="../static/images/souhu.png"></a>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px"
                                              src="../static/images/tengxun.png"></a>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px"
                                              src="../static/images/xinlang.png"></a>
            <a href="https://cf.qq.com/"><img style="width: 170px;height: 70px"
                                              src="../static/images/zhongguo.png"></a>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
</html>